<link rel="stylesheet" href="/stylesheets/header.css" />
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
<div class="header">
  <div>
    <img src="/images/iconcalendar.png" />
    <h3>Calendar</h3>
  </div>
<form class="find">
  <input name="email" class="findEmail" type="text" placeholder="Enter your friend's email here" /></form>
  <ul>
    <li>
      <img src="/images/home.png" />
      <a href="/events/list"><h5>MY HOME</h5></a>
    </li>
    <li>
      <img src="/images/profile.png" />
      <a href="/user/me"><h5>MY PROFILE</h5></a>
    </li>
    <li>
      <img src="/images/log-out.png" />
      <a href="/user/logout"><h45>LOG OUT</h5></a>
    </li>
  </ul>
</div>
<script>
const form=document.querySelector('.find');
const input=document.querySelector('.findEmail');
form.addEventListener('submit',function(e){
 
  e.preventDefault()
})
input.addEventListener("keyup", function(event) {

  if(event.keyCode===13){
    const value=event.target.value;
    const href=`/user?email=${value}`;

   window.location.replace(href)
  }
})
</script>