<link rel="stylesheet" href="/stylesheets/header.css" />
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
<div class="header">
  <div>
    <img src="/images/iconcalendar.png" />
    <h3>Calendar</h3>
  </div>

  <input type="text" placeholder="Enter your friend's email here" />
  <ul>
    <li>
      <img src="/images/home.png" />
      <a><h4>MY HOME</h4></a>
    </li>
    <li>
      <img src="/images/profile.png" />
      <a><h4>MY PROFILE</h4></a>
    </li>
    <li>
      <img src="/images/log-out.png" />
      <a><h4>LOG OUT</h4></a>
    </li>
  </ul>
</div>
