<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merienda"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rell="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="container1">
      <div class="calendar">
        <div class="calendar-header">
          <span class="month-picker" id="month-picker">February</span>
          <div class="year-picker">
            <span class="year-change" id="prev-year">
              <pre></pre>
            </span>
            <span id="year">2021</span>
            <span class="year-change" id="next-year">
              <pre>></pre>
            </span>
          </div>
        </div>
        <div class="calendar-body">
          <div class="calendar-week-day">
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
          </div>
          <div class="calendar-days">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span>12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
            <span>18</span>
            <span>19</span>
            <span>20</span>
            <span>21</span>
            <span>22</span>
            <span>23</span>
            <span>24</span>
            <span>25</span>
            <span>26</span>
            <span>27</span>
            <span>28</span>
            <span>29</span>
            <span>30</span>
          </div>
        </div>

        <div class="month-list"></div>
      </div>

      <div class="my-calendar">
        <span>My calendar</span>
        <button class="export-button"><span>Export</span></button>
      </div>
      <div class="subscriber">
        <span class="Subscriber-List"> Subscriber List</span>
        <ul>
          <% listFollowing.forEach(function(u){ %>
          <li>
            <a
              style="text-decoration: none; color: #404040"
              href="/user?email=<%= u.email %>"
              ><%= u.username %></a
            >
          </li>
          <% }); %>
        </ul>
      </div>
    </div>

    <div class="ctn container2">
      <div class="month">
        <i class="fas fa-angle-left prev"></i>
        <div class="week">
          <h2></h2>
        </div>
        <i class="fas fa-angle-right next"></i>
      </div>

      <div class="table">
        <table bgcolor="white">
          <thead>
            <tr class="head"></tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>

<script>
  const date = new Date();

  const renderCalendar = () => {
    console.log(date);
    const lastDay = new Date(
      date.getFullYear(),
      date.getMonth() + 1,
      0
    ).getDate();
    const prevLastDay = new Date(
      date.getFullYear(),
      date.getMonth(),
      0
    ).getDate();

    const months = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'July',
      'August',
      'September',
      'October',
      'November',
      'December',
    ];
    let date1 = '<th></th>';
    var check1 = false;
    var check2 = false;
    var sunday = null;
    var saturday = null;
    for (let j = 0; j < 7; j++) {
      var i = date.getDate() - date.getDay() + j;
      if (i <= 0) {
        date1 += `<th class="date">${prevLastDay + i}</th>`;
        if (j == 0) {
          sunday = prevLastDay + i;
          check1 = true;
        }
      } else if (i > lastDay) {
        date1 += `<th class="date">${i - lastDay}</th>`;
        if (j == 6) {
          saturday = i - lastDay;
          check2 = true;
        }
      } else {
        date1 += `<th class="date">${i}</th>`;
        if (j == 0) {
          sunday = i;
        }
        if (j == 6) {
          saturday = i;
        }
      }
    }
    if (check1) {
      document.querySelector('h2').innerHTML =
        months[(date.getMonth() - 1) % 12] +
        ' ' +
        sunday +
        ' - ' +
        months[date.getMonth() % 12] +
        ' ' +
        saturday +
        ' , ' +
        date.getFullYear();
    } else if (check2) {
      document.querySelector('h2').innerHTML =
        months[date.getMonth() % 12] +
        ' ' +
        sunday +
        ' - ' +
        months[(date.getMonth() + 1) % 12] +
        ' ' +
        saturday +
        ' , ' +
        date.getFullYear();
    } else {
      document.querySelector('h2').innerHTML =
        months[date.getMonth()] +
        ' ' +
        sunday +
        ' - ' +
        saturday +
        ' , ' +
        date.getFullYear();
    }

    document.querySelector('.head').innerHTML = date1;
    let date2 = '';
    for (let j = 0; j < 24; j++) {
      date2 += `<tr>
  <td class="Col">${j}:00</td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  </tr>`;
    }
    document.querySelector('tbody').innerHTML = date2;
  };
  renderCalendar();

  document.querySelector('.prev').addEventListener('click', () => {
    date.setDate(date.getDate() - 7);
    renderCalendar();
  });
  document.querySelector('.next').addEventListener('click', () => {
    date.setDate(date.getDate() + 7);
    renderCalendar();
  });
  var button = document.querySelector('.button');
  button.addEventListener('click', () => {
    if (button.innerHTML == 'Follow') {
      button.innerHTML = `Unfollow`;
      button.style.backgroundColor = 'rgba(45, 192, 104, 0.6)';
    } else {
      button.innerHTML = `Follow`;
      button.style.backgroundColor = 'rgba(45, 192, 104, 1)';
    }
  });
</script>

<script>
  // js lich ben trai

  let calendar = document.querySelector('.calendar');

  const month_names = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ];

  isLeapYear = (year) => {
    return (
      (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) ||
      (year % 100 === 0 && year % 400 === 0)
    );
  };

  getFebDays = (year) => {
    return isLeapYear(year) ? 29 : 28;
  };

  generateCalendar = (month, year) => {
    let calendar_days = calendar.querySelector('.calendar-days');
    let calendar_header_year = calendar.querySelector('#year');

    let days_of_month = [
      31,
      getFebDays(year),
      31,
      30,
      31,
      30,
      31,
      31,
      30,
      31,
      30,
      31,
    ];

    calendar_days.innerHTML = '';

    let currDate = new Date();
    if (!month) month = currDate.getMonth();
    if (!year) year = currDate.getFullYear();

    let curr_month = `${month_names[month]}`;
    month_picker.innerHTML = curr_month;
    calendar_header_year.innerHTML = year;

    // get first day of month

    let first_day = new Date(year, month, 1);

    for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {
      let day = document.createElement('div');
      if (i >= first_day.getDay()) {
        day.classList.add('calendar-day-hover');
        day.innerHTML = i - first_day.getDay() + 1;
        day.innerHTML += `<span></span>
                            <span></span>
                            <span></span>
                            <span></span>`;
        if (
          i - first_day.getDay() + 1 === currDate.getDate() &&
          year === currDate.getFullYear() &&
          month === currDate.getMonth()
        ) {
          day.classList.add('curr-date');
        }
      }
      calendar_days.appendChild(day);
    }
  };

  let month_list = calendar.querySelector('.month-list');

  month_names.forEach((e, index) => {
    let month = document.createElement('div');
    month.innerHTML = `<div data-month="${index}">${e}</div>`;
    month.querySelector('div').onclick = () => {
      month_list.classList.remove('show');
      curr_month.value = index;
      generateCalendar(index, curr_year.value);
    };
    month_list.appendChild(month);
  });

  let month_picker = calendar.querySelector('#month-picker');

  month_picker.onclick = () => {
    month_list.classList.add('show');
  };

  let currDate = new Date();

  let curr_month = { value: currDate.getMonth() };
  let curr_year = { value: currDate.getFullYear() };

  generateCalendar(curr_month.value, curr_year.value);

  document.querySelector('#prev-year').onclick = () => {
    --curr_year.value;
    generateCalendar(curr_month.value, curr_year.value);
  };

  document.querySelector('#next-year').onclick = () => {
    ++curr_year.value;
    generateCalendar(curr_month.value, curr_year.value);
  };

  let dark_mode_toggle = document.querySelector('.dark-mode-switch');
</script>
