<!DOCTYPE html>
<html class="login-page">
  <head>
    <title>Welcome to Calendar</title>
    <link rel="icon" type="img" href="/images/iconcalendar.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
    <link
      rel="stylesheet"
      type="fonts"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Satisfy"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <meta charset="utf-8" />
  </head>

  <body>
    <div class="login_container">
      <div class="login_container1">
        <h1 id="head1">
          Welcome to
          <span style="font-size: 75px; font-family: Satisfy; color: #0871ed"
            >Calendar</span
          >
        </h1>
        <h2 id="head2">Calender makes your life more easier</h2>
      </div>
      <div class="a login_container2">
        <img class="calendarview" src="/images/iconcalendar.png" />
      </div>
      <div class="login_botton">
        <a href="/login"
          ><button id="login_button1" alt="">LOGIN NOW</button>
        </a>
      </div>
    </div>
  </body>
</html>
